<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <listener>
		<listener-class>com.meetingRooms.listeners.LogoutListener</listener-class>
	</listener>
	
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.meetingRooms.controller.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginServiceInterface</servlet-name>
  	<display-name>loginServiceInterface</display-name>
  	<description></description>
  	<servlet-class>com.meetingRooms.service.LoginServiceInterface</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.meetingRooms.controller.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserImportServlet</servlet-name>
  	<display-name>UserImportServlet</display-name>
  	<description></description>
  	<servlet-class>com.meetingRooms.controller.UserImportServlet</servlet-class>
</servlet>
<servlet>

  	<servlet-name>GetDataForAdminCreateRoomController</servlet-name>
  	<display-name>GetDataForAdminCreateRoomController</display-name>
  	<description></description>
  	<servlet-class>com.meetingRooms.controller.GetDataForAdminCreateRoomController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetDataForAdminCreateRoomDao</servlet-name>
  	<display-name>GetDataForAdminCreateRoomDao</display-name>
  	<description></description>
  	<servlet-class>com.meetingRooms.dao.GetDataForAdminCreateRoomDao</servlet-class>

  </servlet>
  <servlet>
  	<servlet-name>AdminCreateRoom</servlet-name>
  	<display-name>AdminCreateRoom</display-name>
  	<description></description>
  	<servlet-class>com.meetingRooms.controller.AdminCreateRoom</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminEditRoom</servlet-name>
  	<display-name>AdminEditRoom</display-name>
  	<description></description>
  	<servlet-class>com.meetingRooms.controller.AdminEditRoom</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminDeleteRoom</servlet-name>
  	<display-name>AdminDeleteRoom</display-name>
  	<description></description>
  	<servlet-class>com.meetingRooms.controller.AdminDeleteRoom</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminDeleteMeetingRoom</servlet-name>
  	<display-name>AdminDeleteMeetingRoom</display-name>
  	<description></description>
  	<servlet-class>com.meetingRooms.controller.AdminDeleteMeetingRoom</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminGetData</servlet-name>
  	<display-name>AdminGetData</display-name>
  	<description></description>
  	<servlet-class>com.meetingRooms.controller.AdminGetData</servlet-class>


  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginServiceInterface</servlet-name>
  	<url-pattern>/loginServiceInterface</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserImportServlet</servlet-name>
  	<url-pattern>/userimportserv</url-pattern>
  </servlet-mapping>

<servlet-mapping>
  	<servlet-name>GetDataForAdminCreateRoomController</servlet-name>
  	<url-pattern>/GetDataForAdminCreateRoomController</url-pattern>
</servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetDataForAdminCreateRoomDao</servlet-name>
  	<url-pattern>/GetDataForAdminCreateRoomDao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminCreateRoom</servlet-name>
  	<url-pattern>/AdminCreateRoom</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminEditRoom</servlet-name>
  	<url-pattern>/AdminEditRoom</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminDeleteRoom</servlet-name>
  	<url-pattern>/AdminDeleteRoom</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminDeleteMeetingRoom</servlet-name>
  	<url-pattern>/AdminDeleteMeetingRoom</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminGetData</servlet-name>
  	<url-pattern>/AdminGetData</url-pattern>
  	
  	</servlet-mapping>
  	

  
  
  	
</web-app>
